html, body, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: lightgray;
  font: inherit;
  text-align: inherit;
}

#board {
	border: 5px solid black;
	display: inline-block;
}

ul {
	width: 750px;
	list-style: none;
}

.group:after {
	content: "";
	clear: both;
	display: block;
}

body {
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 60px;
	margin: 30px;
}

li {
	float: left;
	width: 25px;
	height: 25px;
	background-color: black;
	/*outline: 1px solid gray;*/
}

.snakeSeg {
	background: green;
}

.apple {
	background: red;
}