html, body, ul, li, h1, h3, button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: lightgray;
  font: inherit;
  text-align: inherit;
}

#board {
	border: 5px solid black;
	display: inline-block;
}

ul {
	width: 750px;
	list-style: none;
}

.group:after {
	content: "";
	clear: both;
	display: block;
}

body {
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
}

h1 {
	font-size: 50px;
	margin-top: 20px;
	margin-bottom: 10px;
}

li {
	float: left;
	width: 25px;
	height: 25px;
	background-color: black;
}

.snakeSeg {
	background: green;
}

.apple {
	background: red;
}

.head {
	background: lightgreen;
}

.message {
	display: block;
}

button {
	display: inline-block;
	border: 5px solid black;
	border-color: black;
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	font-weight: normal;
  margin-bottom: 10px;
	border: 5px solid black;
  background-color: black;
  color: white;
  cursor: pointer;
  border:none;
}

button:hover {
  background: darkblue;
  box-shadow: 0px 0px 1px #777;
}

